@import url(https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap);

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1347a0;
  font-family: "Lora", serif;
  overflow: hidden;
}
